<div>
  <button id="addNewRide" mat-raised-button (click)="openDialog()">Add New Ride</button>
</div>

<div class="wrapper">
<div>
  <div>
    <mat-card>
      <mat-card-title id="ride-list-title">Available Ride Listings</mat-card-title>
    </mat-card>
    <mat-card *ngIf="rides; else ridesError" >
      <mat-card-content>
        <mat-card class="postCard" *ngFor="let ride of this.filterRides()">
          <mat-card-title>{{ride.route[0]}} <mat-icon>play_arrow</mat-icon> {{ride.route[ride.route.length-1]}} </mat-card-title>
          <mat-divider></mat-divider>
          <mat-card-content>
            This trip is being offered by {{ride.driver}}
            <br/> Current number of riders: {{ride.riders.length}}
            <br/> The current date for this trip: {{ride.dateTime}}
            <br/> Additional Notes:
            <br/> -- {{ride.notes}}
          </mat-card-content>
        </mat-card>
        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #ridesError>
          <mat-error>
            There was a problem loading the rides. Possibly the server is down or perhaps there are network
            issues.
          </mat-error>
          <mat-error>
            Please wait a bit and try again or start the server.
          </mat-error>
        </ng-template>
      </mat-card-content>
    </mat-card>
  </div>
</div>
</div>
